<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Learn ionic
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button expand="full" color="warning" (click)="load()">Loading</ion-button>

<ion-button expand="full" color="tertiary" (click)="toast()">Toast</ion-button>

<ion-button expand="full" color="success" (click)="alert()">Alert</ion-button>

<ion-button expand="full" color="success" routerLink="/team">Go to team</ion-button>





</ion-content>

